<h1>
  Sign in
</h1>

<form class="login-form" #user="ngForm" (ngSubmit)="login(user)">
  <input type="email" placeholder="email" ngModel name="email">
  <input type="password" placeholder="password" ngModel name="password">
  <input type="submit" value="Login">
</form>
