<button (click)="logOut()">Logout</button>

<div>
  <ul>
    <li (click)="changeSubject('chemistry')" style="cursor: pointer;">Chemistry</li>
    <li (click)="changeSubject('physics')" style="cursor: pointer;">Physics</li>
    <li (click)="changeSubject('maths')" style="cursor: pointer;">Maths</li>
  </ul>
</div>


<div *ngFor="let question of objectKeys(questions)">
  {{questions[question]}}
</div>
